<a href="https://colab.research.google.com/github/arnoldkiirya1/Python_Part_1/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Getting age 
name = 'Arnold'
type(name) # type('Arnold')

str

In [ ]:
# Number
a = 2
type(a) # type(2)

int

In [ ]:
# Float
b = 3.14
type(b)

float

In [ ]:
# Printing Messages

print('My name is Arnold')

name = 'Arnold'
print(name)

#Common mistake
print('name')

# Combile tow messages
print('My name is', name)

My name is Arnold
Arnold
name
My name is Arnold

In [ ]:
age = input('Enter your age?')

Enter your age?35

In [ ]:
type(age)

str

In [ ]:
int(age) + 2

37

In [ ]:
float(age)

35.0

In [ ]:
b = 3.66
int(b)

3

In [ ]:
print('In 5 years, your age will be', int(age) + 5)

In 5 years, your age will be 40